<fb:explanation>
<fb:message>Course Profiles has been updated!</fb:message>
You can now declare qualifications in the same way as courses, see a list of courses that 
people on your course also studied and make a statement in your profile page (click on 
<i>My Preferences</i> above). 
</fb:explanation>