<div class="error">
<div class="message">Course not found!</div>
Sorry but the course code you entered is not known to us. Please check and try again. If you are sure the course code entered is correct please contact us.
</div>